<?xml version ="1.0" encoding ="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"> 

<suite name= " Test Automation Suite">


       <listeners>
       <listener class-name="testcases.Listeners"/>
       <listener class-name="E2Etest.ExtentReport.ExtentReport"/>
       </listeners>


       <test name= " Test">
       
            <classes>
                      <class name= "testcases.LoginTest"/>
                      
            </classes>
            
      </test>
      
</suite>
